@import "../../vars.css";

.container {
  margin-top: 100px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: stretch;
}

@media screen and (max-width: 830px) {
  .title {
    font-size: 32px;
  }

  .projects {
    gap: 25px;
  }
}
